<nav class="navbar navbar-expand-lg fixed-top navbar-scroll bg-light">
  <div class="container">
    <!-- Brand Logo -->
    <a class="navbar-brand" routerLink="/">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTEukW4DPKavYQdC8K5jH5-ktFQA-3I-KuxXA&s"
        height="60"
        alt="MyCafe Logo"
        loading="lazy"
      />
    </a>

    <!-- Toggle Button for Mobile -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarExample01"
      aria-controls="navbarExample01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Nav Items -->
    <div class="collapse navbar-collapse" id="navbarExample01">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <ng-container *ngIf="auth.isAuthenticated(); else notauthenticated">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="active">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/products" routerLinkActive="active">PRODUCTS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact" routerLinkActive="active">CONTACT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">DASHBOARD</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about" routerLinkActive="active">ABOUT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="logout()">LOGOUT</a>
          </li>
        </ng-container>

        <ng-template #notauthenticated>
          <li class="nav-item">
            <a class="nav-link" routerLink="/register" routerLinkActive="active">REGISTER</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login" routerLinkActive="active">LOGIN</a>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>
